In [1]:
import pandas as pd
import numpy as np

In [3]:
data_series = pd.Series([0.25,0.5,0.75,1.0])

In [4]:
data_series

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data_series_with_custom_index = pd.Series([0.25,0.5,0.75,1.0],index = ['a','b','c','d'])
data_series_with_custom_index

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [6]:
data_series.values

array([0.25, 0.5 , 0.75, 1.  ])

In [7]:
data_series.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data_series[2]

0.75

In [9]:
data_series[1:4]

1    0.50
2    0.75
3    1.00
dtype: float64

In [12]:
a = (1,2,3,4,5,6)
b = ["one","two","three","four","five","six"]
y = pd.Series(b,index = a) 
y

1      one
2      two
3    three
4     four
5     five
6      six
dtype: object

In [13]:
pop_dict = {'calfornia' : 38332521,
            'texas':  2644813,
            'newyork':19651179,
            'florida: ':19552680,
            'illinios':12882168}
pop_dict

{'calfornia': 38332521,
 'texas': 2644813,
 'newyork': 19651179,
 'florida: ': 19552680,
 'illinios': 12882168}

In [15]:
pop_Series = pd.Series(pop_dict)
pop_Series

calfornia    38332521
texas         2644813
newyork      19651179
florida:     19552680
illinios     12882168
dtype: int64

In [21]:
import pandas as pd
import numpy as np

In [22]:
pop_Series['florida']

KeyError: 'florida'

In [23]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [24]:
list_name = ['Anand','Anil','Yash']
pd.Series(5,index = list_name)

Anand    5
Anil     5
Yash     5
dtype: int64

In [25]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(d, index=['x', 'y', 'z'])

In [26]:
ser

x   NaN
y   NaN
z   NaN
dtype: float64

In [27]:
d = {'a':1,'b':2,'c':3}
ser = pd.Series(d,index=['x','y','z'])

In [28]:
ser

x   NaN
y   NaN
z   NaN
dtype: float64

In [3]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')

In [4]:
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [33]:
diamonds.to_csv("diamond1.csv",index = False)

In [6]:
diamonds.shape

(53940, 10)

In [7]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [8]:
diamonds.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [9]:
diamonds['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64